# 📦 Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# 🧪 Testing
coverage/

# ⚡ Next.js build output
.next/
out/
.vercel/

# 🏗 Production build
build/

# 💻 Environment files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# 🔧 TypeScript
*.tsbuildinfo
next-env.d.ts

# 💾 Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# 🧹 System files
.DS_Store
Thumbs.db

# 🔐 Certificates / Keys
*.pem

# 🧰 IDE files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 📦 Misc
*.log
*.cache
